{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('scrn_assets', filename='pages/proveedores/proveedores.css') }}">
<link rel="stylesheet" href="{{ url_for('scrn_assets', filename='pages/proveedores/nuevo_proveedor/nuevo_proveedor.css') }}">
<link rel="stylesheet" href="{{ url_for('scrn_assets', filename='pages/proveedores/tabla_proveedores/tabla_proveedores.css') }}">
<script src="{{ url_for('scrn_assets', filename='pages/proveedores/nuevo_proveedor/nuevo_proveedor.js') }}" defer></script>
<script src="{{ url_for('scrn_assets', filename='pages/proveedores/proveedores.js') }}" defer></script>
{% endblock %}

{% block content %}
<section class="proveedores-shell">
  <div class="proveedores-grid">
    {% include "pages/proveedores/tabla_proveedores/tabla_proveedores.html" %}
    {% include "pages/proveedores/nuevo_proveedor/nuevo_proveedor.html" %}
  </div>
</section>
{% endblock %}